body {
  background-color: #181818; 
  /*max-width: 1440px; */
  margin: 0 auto;  
}

a,
.active {
  color: white;
  opacity: .7;
  transition: 100ms ease-out; 
  text-decoration: none; 
}

.active { 
  opacity: 1;
  color: white;
  text-decoration: none;
  font-weight: 600;
  cursor: default;  
}

a:hover { opacity: 1;}



.home-header { padding: 20px; }

@media (min-width: 900px) { 
  .home-header { 
    padding: 32px 48px; 
    max-width: 1300px;
    margin: 0 auto; 
  }
}

.header { 
  font-size: 18px; 
  color: white;
  display: flex;
  font-family: 'hind';
  font-weight: 300; 
  flex-direction: column; 
  align-items: flex-end;
}

@media (min-width: 900px)  {
  .header {
    flex-direction: row;
    font-size: 18px; 
    align-items: flex-start; 
  }
}

.nav {
  display: flex; 
  margin-top: 15px; 
}

@media (min-width: 900px) {
  .nav {
    margin-left: 200px; 
    margin-top: 0; 
  }
}


.name { font-weight: 900; }

.nav div + div { margin-left: 30px; }

.intro {
    font-size: 46px; 
    display: flex;
    color: white; 
    flex-direction: column;
    padding-top: 80px; 
    font-family: 'hind'; 
    font-weight: 600; 
    line-height: 1.4; 
}

.intro-secondary { margin-top: 250px; }

.tagline { opacity: .6; }

@media (min-width: 900px) {
  .intro {
    padding-top: 290px; 
    font-size: 140px; 
    line-height: .9; 
  }
}

.last-updated {
  font-size: 12px;
  color: rgba(255, 255, 255, .7);
  position: absolute;
  bottom: -45px;
  font-family: 'roboto mono';
  left: 0; 
}

.wrapper { 
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  height: calc(94vh - 20px); 
 }

  /* about me */
  .about-me-img {
    max-width: 100%; 
    transform: translateY(-120px);
  }

  .about-me-intro {
      font-size: 46px; 
      display: flex;
      color: white; 
      flex-direction: column;
      padding-top: 80px; 
      font-family: 'hind'; 
      font-weight: 600; 
      line-height: 1.4; 
      position: relative; 
  }

  .about-me-intro .tagline { opacity: 1; }

  @media (min-width: 900px) {
    .about-me-intro {
      padding-top: 290px; 
      font-size: 100px; 
      line-height: .9; 
    }

    .about-me-img {
      margin-right: 125px; 
      max-width: 500px; 
    }
  }

  .about-container {
    background-color: white;
  }

  .about-wrap { 
    font-family: 'hind'; 
    color: #181818; 
    font-size: 24px; 
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding: 0 20px 150px 20px;  
  }

  @media (min-width: 900px) {
    .about-wrap {
      padding: 32px 64px; 
      flex-direction: row; 
      max-width: 1300px;
      margin: 200px auto; 
    }
  }

  .h2-intro {
    font-size: 36px; 
    font-weight: 600; 
    line-height: 1.4; 
  }

  .p {
    font-weight: 300;
    line-height: 1.5; 
    margin-top: 20px; 
  }

  .header {
    opacity: 0;
    animation-name: slide-up;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-duration: 1s; 
    animation-delay: .5s;
  }

.codepen,
.spotify,
.linkedin,
.twitter,
.github,
.intro,
.about-me-intro,
.about-wrap {
  opacity: 0;
  animation-name: slide-up;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  animation-duration: 1s; 
  animation-delay: .5s; 
}
.github { animation-delay: .6s; }

.spotify,
.intro,
.about-me-intro{ animation-delay: .7s; }

.linkedin
.about-wrap { animation-delay: .8s; }
.twitter { animation-delay: .9s; }


@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  font-size: 12px; 
  color: rgba(255,255,255,.6);
  font-family: 'raleway';
  padding: 20px; 
  margin-top: 125px; 
}

@media (min-width: 900px) {
  .footer { 
    padding: 32px 64px; 
    max-width: 1300px;
    margin: 0 auto; 
  }
}

.intro-secondary .feature h4 {
  font-size: 36px; 
  font-family: 'hind';
  font-weight: 600; 
  margin-top: 0;  
  text-transform: unset; 
}

.intro-secondary h4 {
  color: white;
  font-size: 24px;
  font-family: 'hind';
  font-weight: 400; 
  text-transform: uppercase; 
}

@media (min-width: 900px) {
  .intro-secondary .feature h4 {
    font-size: 64px; 
  }
}

.intro-secondary h4 span { opacity: .5; font-weight: 300;  }

.responsibilities {
  font-size: 20px;
  line-height: 1.6;
  color: white;
  font-family: 'hind';
  font-weight: 300;
  margin-right: 50px; 
}

.history-wrap {
  display: flex;
}

.work-history-item + .work-history-item { margin-top: 100px; }

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.span-col-2 {grid-column: span 2 / auto; }


.feature-image {
  height: 300px;
  border-radius: 4px; 
  position: relative; 
  overflow: hidden; 
}

.feature-info {
  font-size: 12px;
  font-family: 'roboto mono';
  color: white;
  text-transform: uppercase; 
  opacity: .6; 
  line-height: 1.5;
}

.feature-info-wrap {
  display: flex;
  justify-content: space-between; 
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.placeholder-image {
  background-color:#00000040;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  text-transform: uppercase; 
  height: 90vh; 
  padding: 0 30px; 
}

.placeholder-image svg {
  max-width: 500px;
  width: 100%;
}

